IPV6 ::1 not working

Currently there is --http-address but it is not possible to listen to ipv6 ::1.
Is this something that is considered? A lot of cloud providers move to IPV6, leaving only IPV6 Clusters where it seems that I cannot use this awesome project.

It's not something we've looked into, but if you can update the pkg/http server package to handle this, then it's definitely something we would look to accept

Hi

I looked into this issue.
The problem is not caused by oauth2proxy itself or net/http package, but how you specify the ipv6 address.

When listening ipv6 address, specify the address like `[::1]:4180`.
Some samples can find below.
https://pkg.go.dev/golang.org/x/net/ipv6


Oauth2proxy bind the address to listen to in server.go as

```
listener, err := net.Listen(networkType, listenAddr)
```

Here, variable `listenAddr` is the value you specify with `--http-address`.

Perhaps we should either a) fix this, or b) add something to the docs about this

I think `b) add something to the docs about this` is better.

In [RFC5952 Section6](https://datatracker.ietf.org/doc/html/rfc5952#section-6), some kind of ways to combine IPv6 addresses and port numbers are mentioned.

o  [2001:db8::1]:80
o  2001:db8::1:80
o  2001:db8::1.80
o  2001:db8::1 port 80
o  2001:db8::1p80
o  2001:db8::1#80

I believe it's not important to accept these kind of formats, wrapping the interface of net/http package.
As for net/http package, the first format `[<ipv6>]:<port>` is allowed.

That's why I consider fixing the docs is better.
I'm thinking to do this work.

I think `b) add something to the docs about this` is better.

In [RFC5952 Section6](https://datatracker.ietf.org/doc/html/rfc5952#section-6), some kind of ways to combine IPv6 addresses and port numbers are mentioned.

o  [2001:db8::1]:80
o  2001:db8::1:80
o  2001:db8::1.80
o  2001:db8::1 port 80
o  2001:db8::1p80
o  2001:db8::1#80

As for net/http package, the first format `[<ipv6>]:<port>` is allowed.
Browsers such as Chrome,Edge,Firefox also accept ipv6 address in `[<ipv6>]:<port>` format but not in other format.
So I believe it's good to follow the same way.

That's why I consider fixing the docs is better than fixing the codes.
I'm thinking to do this work.

If you can add something to the docs, that would be appreciated!