[Bug]: jwtRegexFormat to detect a JWT in HTTP Authorization header too strict, forbids whitespace after opening curly bracket.

### OAuth2-Proxy Version

7.6.0

### Provider

azure

### Expected Behaviour

For API auth, OAuth2-Proxy should detect JWTs, even if the JWT contains whitespace after the curly bracket, in accordance with RFC7159 section 2.

### Current Behaviour

In pkg/middleware/jwt_session.go, there seems to be a filter to check for bearer tokens in the HTTP Authorization header:
```
const jwtRegexFormat = `^ey[IJ][a-zA-Z0-9_-]*\.ey[IJ][a-zA-Z0-9_-]*\.[a-zA-Z0-9_-]+$`
```

A base64URL-encoded JWT with a newline after the opening curly bracket would start with"ew", so does not match.


### Steps To Reproduce

1. In a configuration for authorizing API calls (without interactive login), make a request with a valid JWT that has a newline character after the opening curly bracket of the header.
2. The JWT is not detected. Errror message: "No valid authentication in request. Access Denied."

### Possible Solutions

The regex should be less restrictive.

I tested with the following and that works fine:
```
const jwtRegexFormat = `^[a-zA-Z0-9_-]*\.[a-zA-Z0-9_-]*\.[a-zA-Z0-9_-]+$`
```

### Configuration details or additional information

_No response_

### Edit:
1. I initially thought, a missing "typ" field in the header caused the mismatch, but it actually is a newline character after the opening curly bracket.
2. Added working code under "Possible Solutions"

I compiled my own version with a modified regex, and that works for me:
```
const jwtRegexFormat = `^[a-zA-Z0-9_-]*\.[a-zA-Z0-9_-]*\.[a-zA-Z0-9_-]+$`
```

Issue resolved by compiling my own version.