Audience Claim should be treated as optional

OAuth2 Proxy requires the `aud` claim to be present, in direct contradiction to [RFC 7519 section 4.1.3](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.3), which states that its usage is optional.

## Expected Behavior

The token verification should not fail if `aud` claim is not present.

## Current Behavior

Token verification fails with:
```
[oauthproxy.go:823] Error redeeming code during OAuth2 callback: could not verify id_token: audience claims [aud] do not exist in claims: map[...]
```

## Possible Solution

Use the `if` ;)

## Steps to Reproduce (for bugs)

Use Oauth2 Proxy with AWS Cognito and Client credentials grant.

## Context

I need to support both Authorization code and Client credentials grants with Cognito IdP on the same endpoint.

## Your Environment

Nginx ingress, OAuth2 Proxy, AWS Cognito.

- Version used: 7.4.0


Have you looked through the code to determine why OAuth2 Proxy needs `aud`? Whether we can make it optional or not would depend on why it is currently required

As far as I can see, for the generic OIDC provider it is used just for verification. If we add a new flag with a backwards compatible default value I think this should not influence existing deployments. Can you please have a look if the approach in  https://github.com/IgorMilavec/oauth2-proxy/tree/audience-required looks OK to you?

I'm running into the same issue. My provider doesn't populate or have a need to populate the `aud` claim. Should a PR be opened from the fork to facilitate this discussion further?

I think the code suggested looks reasonable, I guess what I'm trying to understand though is what the implication of not having this verification is, does this open up potential security holes if users misconfigure this? 

Not sure how the bot work here -- but if I can re-open this issue:

The audience is the intended recipient of a token. Most of the time, audience checking is great.

But let's take an azure example: If an application wants a valid bearer token -- but will accept any token in the tenant? (e.g I'm app ABC -- I have a token issued from my oicd provider, and I want to call some other services that are open to any other api in the tenant, rather than managing a token per service.)

In that scenario, they'd want to skip the aud claim. Basically -- authentication without authorization. No revoking access to any client. There's issues with this approach, of course. No way to revoke access at the token level, etc. But I've seen use cases where APIs are pretty open to internal calls, and just rate limited per principal.