Audience Claim should be treated as Optional (reopen)

Effectively re-opening #2037 because I didn't get to the stale issue in time.

OAuth2 Proxy requires the aud claim to be present, in direct contradiction to [RFC 7519 section 4.1.3](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.3), which states that its usage is optional.

## Expected Behavior
The token verification should not fail if aud claim is not present, or an option should allow ignoring the audience if audience validation does not matter.

## Current Behavior
Token verification fails with:

[oauthproxy.go:823] Error redeeming code during OAuth2 callback: could not verify id_token: audience claims [aud] do not exist in claims: map[...]
## Possible Solution
Support an --insecure-ignore-audience flag? e.g Call out that it's an insecure option, but allow it.

Someone in this issue seemed to have a fork/PR ready to go.
https://github.com/oauth2-proxy/oauth2-proxy/issues/2037#issuecomment-1455257318

## Steps to Reproduce (for bugs)
Use Oauth2 Proxy with AWS Cognito and Client credentials grant.

## Context
I need to support calls to multiple services in the same azure tenant, that are largely open apis. A number of services within the tenant have no need for roles, or audience validation -- just token validation by tenant (solved by validating by issuer) and kid. 

## Your Environment
AWS ALB, OAuth2 Proxy sidecar ECS container, Azure AD.

Version used: 7.4.0

Not stale. 

Unstale