Incorrect cookie domain when having non-standard port number

oauth2-proxy cannot set the `Set-Cookie` header correctly when using a non-standard port number (e.g. abcdef.com:8080).

Note that to reliably reproduce this, you need to use multiple cookie domain, specify them in the `cookie_domains` list, and the domain with non-standard port number must not be the last one. **The other domain may seem irrelavent but it's necessary in order to reproduce this issue.**

## Expected Behavior

Assuming I'm trying to make oauth2-proxy work on two web services, i.e. `abcdef.com:8080` and `xyz.com`. 

Then I need to specify the cookie domains field, I can either have:
1) `cookie_domains = [abcdef.com, xyz.com]`
, or
2) `cookie_domains = [abcdef.com:8080, xyz.com]`.

Expecting **at least one** of the above configurations is correct, that means:

When I visit `abcdef.com:8080`, oauth2-proxy will add a `Set-Cookie` header for `abcdef.com` (Why not `abcdef.com:8080`? see [RFC 6265 Section 8.5](https://www.rfc-editor.org/rfc/rfc6265#section-8.5)).

## Current Behavior

- If I use `cookie_domains = [abcdef.com:8080, xyz.com]`:

I will get a `Set-Cookie` header trying to set cookie on `abcdef.com:8080`. However this is an invalid `Set-Cookie` header (cookie domain should not include port number, see RFC document referneced above). I've tested, chrome does not honor this `Set-Cookie` header.

- If I use `cookie_domains = [abcdef.com, xyz.com]`:

I will get a `Set-Cookie` header trying to set cookie on `xyz.com` (but I'm visiting `abcdef.com:8080`). This is because the matching logic failed to match incoming request for "abcdef.com:8080“ with the "abcdef.com" cookie domain and end up setting cookies on domain "xyz.com" (because this is the last one specified in the `cookie_domains` list).

## Possible Solution

See #1869

## Steps to Reproduce (for bugs)

1.  Set up web services for `abcdef.com:8080` and `xyz.com`
2.  Set up oauth2-proxy to gate the two web services, in configuration specify either `cookie_domains = [abcdef.com, xyz.com]` or `cookie_domains = [abcdef.com:8080, xyz.com]`
3.  Visit `abcdef.com:8080`, perform necessary steps to correctly authenticate the user.

Result:  Authentication passed, but cookies not correctly set. Therfore user still sees the oauth2-proxy authentication screen, instead of content from `abcdef.com:8080`.

## Context

This breaks user who want to 1) set up oauth2-proxy on multiple web services with different domains, and 2) some of the web services uses a non-standard port.

## Your Environment

Client: Chrome 106.0.5249.119
oauth2-proxy: Docker image from quay.io/oauth2-proxy/oauth2-proxy 

I proposed a PR #1869 for this a while ago but it get closed due to inactivity.

The workaround I'm currently using is to setup nginx in front of oauth2-proxy and rewrite the cookie_domain with `proxy_cookie_domain`.

@thesuperzapper

I totally agree that port number should not be part of the `Set-Cookies` header. I want to point out that the proposed PR is **against** specifying the port number in the `Set-Cookies` header.

Current `oauth2-proxy` behavior is non-standard, because it specifies port in the `Set-Cookies` header (as you pointed out, it shouldn't). The PR is aimed at fixing this (i.e. with this PR, port number will be removed from the `Set-Cookies` header).

We still need to specify the port number in the oauth2-proxy `cookie_domains` configuration entry, because the port number is necessary here in order to correctly match incoming requests. After we matched the incoming request, the port number should be discarded and not be part of the `Set-Cookies` header (current oauth2-proxy does not have this step thus bringing port number into the header and this causes problem.)

@silverwzw I have raised an issue with a specific proposed solution: https://github.com/oauth2-proxy/oauth2-proxy/issues/2066

Bumping for bot.

I still think this is an important issue, I'm commenting so it doesn't get closed.

I will bump this issue one more time to link the other issue, which we can continue discussion on if this gets closed:

### https://github.com/oauth2-proxy/oauth2-proxy/issues/2066